Natural Language Processing with Python â€“ Analyzing Text with the Natural Language Toolkit
Steven Bird, Ewan Klein, and Edward Loper
http://www.nltk.org/book/
Chapter 9. Building Feature Based Grammars

In [1]:
%matplotlib inline

In [2]:
import nltk

9.2   Processing Feature Structures

In [3]:
fs1 = nltk.FeatStruct(TENSE='past', NUM='sg')

In [4]:
print(fs1)
# [ NUM   = 'sg'   ]
# [ TENSE = 'past' ]

[ NUM   = 'sg'   ]
[ TENSE = 'past' ]

In [5]:
fs1 = nltk.FeatStruct(PER=3, NUM='pl', GND='fem')

In [7]:
print(fs1['GND'])
# fem

fem

In [8]:
fs1['CASE'] = 'acc'

In [9]:
fs2 = nltk.FeatStruct(POS='N', AGR=fs1)

In [10]:
print(fs2)
# [       [ CASE = 'acc' ] ]
# [ AGR = [ GND  = 'fem' ] ]
# [       [ NUM  = 'pl'  ] ]
# [       [ PER  = 3     ] ]
# [                        ]
# [ POS = 'N'              ]

[       [ CASE = 'acc' ] ]
[ AGR = [ GND  = 'fem' ] ]
[       [ NUM  = 'pl'  ] ]
[       [ PER  = 3     ] ]
[                        ]
[ POS = 'N'              ]

In [11]:
print(fs2['AGR'])
# [ CASE = 'acc' ]
# [ GND  = 'fem' ]
# [ NUM  = 'pl'  ]
# [ PER  = 3     ]

[ CASE = 'acc' ]
[ GND  = 'fem' ]
[ NUM  = 'pl'  ]
[ PER  = 3     ]

In [12]:
print(fs2['AGR']['PER'])
# 3

3

In [13]:
print(nltk.FeatStruct("[POS='N', AGR=[PER=3, NUM='pl', GND='fem']]"))
# [       [ GND = 'fem' ] ]
# [ AGR = [ NUM = 'pl'  ] ]
# [       [ PER = 3     ] ]
# [                       ]
# [ POS = 'N'             ]

[       [ GND = 'fem' ] ]
[ AGR = [ NUM = 'pl'  ] ]
[       [ PER = 3     ] ]
[                       ]
[ POS = 'N'             ]

In [14]:
print(nltk.FeatStruct(NAME='Lee', TELNO='01 27 86 42 96', AGE=33))
# [ AGE   = 33               ]
# [ NAME  = 'Lee'            ]
# [ TELNO = '01 27 86 42 96' ]

[ AGE   = 33               ]
[ NAME  = 'Lee'            ]
[ TELNO = '01 27 86 42 96' ]

In [15]:
print(nltk.FeatStruct("""[NAME='Lee', ADDRESS=(1)[NUMBER=74, STREET='rue Pascal'],
                         SPOUSE=[NAME='Kim', ADDRESS->(1)]]"""))
# [ ADDRESS = (1) [ NUMBER = 74           ] ]
# [               [ STREET = 'rue Pascal' ] ]
# [                                         ]
# [ NAME    = 'Lee'                         ]
# [                                         ]
# [ SPOUSE  = [ ADDRESS -> (1)  ]           ]
# [           [ NAME    = 'Kim' ]           ]

[ ADDRESS = (1) [ NUMBER = 74           ] ]
[               [ STREET = 'rue Pascal' ] ]
[                                         ]
[ NAME    = 'Lee'                         ]
[                                         ]
[ SPOUSE  = [ ADDRESS -> (1)  ]           ]
[           [ NAME    = 'Kim' ]           ]

In [16]:
print(nltk.FeatStruct("[A='a', B=(1)[C='c'], D->(1), E->(1)]"))
# [ A = 'a'             ]
# [                     ]
# [ B = (1) [ C = 'c' ] ]
# [                     ]
# [ D -> (1)            ]
# [ E -> (1)            ]

[ A = 'a'             ]
[                     ]
[ B = (1) [ C = 'c' ] ]
[                     ]
[ D -> (1)            ]
[ E -> (1)            ]

10.2.1   Subsumption and Unification

In [17]:
fs1 = nltk.FeatStruct(NUMBER=74, STREET='rue Pascal')

In [18]:
fs2 = nltk.FeatStruct(CITY='Paris')

In [19]:
print(fs1.unify(fs2))
# [ CITY   = 'Paris'      ]
# [ NUMBER = 74           ]
# [ STREET = 'rue Pascal' ]

[ CITY   = 'Paris'      ]
[ NUMBER = 74           ]
[ STREET = 'rue Pascal' ]

In [20]:
print(fs2.unify(fs1))
# [ CITY   = 'Paris'      ]
# [ NUMBER = 74           ]
# [ STREET = 'rue Pascal' ]

[ CITY   = 'Paris'      ]
[ NUMBER = 74           ]
[ STREET = 'rue Pascal' ]

In [21]:
fs0 = nltk.FeatStruct(A='a')

In [22]:
fs1 = nltk.FeatStruct(A='b')

In [23]:
fs2 = fs0.unify(fs1)

In [24]:
print(fs2)
# None

None

In [25]:
fs0 = nltk.FeatStruct("""[NAME=Lee,
                          ADDRESS=[NUMBER=74,
                                   STREET='rue Pascal'],
                          SPOUSE= [NAME=Kim,
                                   ADDRESS=[NUMBER=74,
                                            STREET='rue Pascal']]]""")

In [26]:
print(fs0)
# [ ADDRESS = [ NUMBER = 74           ]               ]
# [           [ STREET = 'rue Pascal' ]               ]
# [                                                   ]
# [ NAME    = 'Lee'                                   ]
# [                                                   ]
# [           [ ADDRESS = [ NUMBER = 74           ] ] ]
# [ SPOUSE  = [           [ STREET = 'rue Pascal' ] ] ]
# [           [                                     ] ]
# [           [ NAME    = 'Kim'                     ] ]

[ ADDRESS = [ NUMBER = 74           ]               ]
[           [ STREET = 'rue Pascal' ]               ]
[                                                   ]
[ NAME    = 'Lee'                                   ]
[                                                   ]
[           [ ADDRESS = [ NUMBER = 74           ] ] ]
[ SPOUSE  = [           [ STREET = 'rue Pascal' ] ] ]
[           [                                     ] ]
[           [ NAME    = 'Kim'                     ] ]

In [27]:
fs1 = nltk.FeatStruct("[SPOUSE = [ADDRESS = [CITY = Paris]]]")

In [28]:
print(fs1.unify(fs0))
# [ ADDRESS = [ NUMBER = 74           ]               ]
# [           [ STREET = 'rue Pascal' ]               ]
# [                                                   ]
# [ NAME    = 'Lee'                                   ]
# [                                                   ]
# [           [           [ CITY   = 'Paris'      ] ] ]
# [           [ ADDRESS = [ NUMBER = 74           ] ] ]
# [ SPOUSE  = [           [ STREET = 'rue Pascal' ] ] ]
# [           [                                     ] ]
# [           [ NAME    = 'Kim'                     ] ]

[ ADDRESS = [ NUMBER = 74           ]               ]
[           [ STREET = 'rue Pascal' ]               ]
[                                                   ]
[ NAME    = 'Lee'                                   ]
[                                                   ]
[           [           [ CITY   = 'Paris'      ] ] ]
[           [ ADDRESS = [ NUMBER = 74           ] ] ]
[ SPOUSE  = [           [ STREET = 'rue Pascal' ] ] ]
[           [                                     ] ]
[           [ NAME    = 'Kim'                     ] ]

In [29]:
fs2 = nltk.FeatStruct("""[NAME=Lee, ADDRESS=(1)[NUMBER=74, STREET='rue Pascal'],
                          SPOUSE=[NAME=Kim, ADDRESS->(1)]]""")

In [30]:
print(fs1.unify(fs2))
# [               [ CITY   = 'Paris'      ] ]
# [ ADDRESS = (1) [ NUMBER = 74           ] ]
# [               [ STREET = 'rue Pascal' ] ]
# [                                         ]
# [ NAME    = 'Lee'                         ]
# [                                         ]
# [ SPOUSE  = [ ADDRESS -> (1)  ]           ]
# [           [ NAME    = 'Kim' ]           ]

[               [ CITY   = 'Paris'      ] ]
[ ADDRESS = (1) [ NUMBER = 74           ] ]
[               [ STREET = 'rue Pascal' ] ]
[                                         ]
[ NAME    = 'Lee'                         ]
[                                         ]
[ SPOUSE  = [ ADDRESS -> (1)  ]           ]
[           [ NAME    = 'Kim' ]           ]

In [31]:
fs1 = nltk.FeatStruct("[ADDRESS1=[NUMBER=74, STREET='rue Pascal']]")

In [32]:
fs2 = nltk.FeatStruct("[ADDRESS1=?x, ADDRESS2=?x]")

In [33]:
print(fs2)
# [ ADDRESS1 = ?x ]
# [ ADDRESS2 = ?x ]

[ ADDRESS1 = ?x ]
[ ADDRESS2 = ?x ]

In [34]:
print(fs2.unify(fs1))
# [ ADDRESS1 = (1) [ NUMBER = 74           ] ]
# [                [ STREET = 'rue Pascal' ] ]
# [                                          ]
# [ ADDRESS2 -> (1)                          ]

[ ADDRESS1 = (1) [ NUMBER = 74           ] ]
[                [ STREET = 'rue Pascal' ] ]
[                                          ]
[ ADDRESS2 -> (1)                          ]