Natural Language Processing with Python â€“ Analyzing Text with the Natural Language Toolkit
Steven Bird, Ewan Klein, and Edward Loper
http://www.nltk.org/book/
Chapter 3. Processing Raw Text

In [1]:
%matplotlib inline

In [2]:
import nltk, re, pprint
from nltk import word_tokenize

3.2   Strings: Text Processing at the Lowest Level

In [3]:
monty = 'Monty Python'

In [4]:
monty
# 'Monty Python'

'Monty Python'

In [5]:
circus = "Monty Python's Flying Circus"

In [6]:
circus
# "Monty Python's Flying Circus"

"Monty Python's Flying Circus"

In [7]:
circus = 'Monty Python\'s Flying Circus'

In [8]:
circus
# "Monty Python's Flying Circus"

"Monty Python's Flying Circus"

In [9]:
circus = 'Monty Python's Flying Circus'
#   File "<stdin>", line 1
#     circus = 'Monty Python's Flying Circus'
                           ^
# SyntaxError: invalid syntax

SyntaxError: invalid syntax (<ipython-input-9-e0bfa0f0fefb>, line 1)

In [10]:
couplet = "Shall I compare thee to a Summer's day?"\
          "Thou are more lovely and more temperate:"

In [11]:
print(couplet)
# Shall I compare thee to a Summer's day?Thou are more lovely and more temperate:

Shall I compare thee to a Summer's day?Thou are more lovely and more temperate:

In [12]:
couplet = ("Rough winds do shake the darling buds of May,"
          "And Summer's lease hath all too short a date:")

In [13]:
print(couplet)
# Rough winds do shake the darling buds of May,And Summer's lease hath all too short a date:

Rough winds do shake the darling buds of May,And Summer's lease hath all too short a date:

In [14]:
couplet = """Shall I compare thee to a Summer's day?
Thou are more lovely and more temperate:"""

In [15]:
print(couplet)
# Shall I compare thee to a Summer's day?
# Thou are more lovely and more temperate:

Shall I compare thee to a Summer's day?
Thou are more lovely and more temperate:

In [16]:
couplet = '''Rough winds do shake the darling buds of May,
And Summer's lease hath all too short a date:'''

In [17]:
print(couplet)
# Rough winds do shake the darling buds of May,
# And Summer's lease hath all too short a date:

Rough winds do shake the darling buds of May,
And Summer's lease hath all too short a date:

In [18]:
'very' + 'very' + 'very'
# 'veryveryvery'

'veryveryvery'

In [19]:
'very' * 3
# 'veryveryvery'

'veryveryvery'

In [20]:
a = [1, 2, 3, 4, 5, 6, 7, 6, 5, 4, 3, 2, 1]

In [21]:
b = [' ' * 2 * (7 - i) + 'very' * i for i in a]

In [22]:
for line in b:
    print(line)

            very
          veryvery
        veryveryvery
      veryveryveryvery
    veryveryveryveryvery
  veryveryveryveryveryvery
veryveryveryveryveryveryvery
  veryveryveryveryveryvery
    veryveryveryveryvery
      veryveryveryvery
        veryveryvery
          veryvery
            very

In [23]:
'very' - 'y'
# Traceback (most recent call last):
#   File "<stdin>", line 1, in <module>
# TypeError: unsupported operand type(s) for -: 'str' and 'str'

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [24]:
'very' / 2
# Traceback (most recent call last):
#   File "<stdin>", line 1, in <module>
# TypeError: unsupported operand type(s) for /: 'str' and 'int'

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [25]:
print(monty)
# Monty Python

Monty Python

In [26]:
grail = 'Holy Grail'

In [27]:
print(monty + grail)
# Monty PythonHoly Grail

Monty PythonHoly Grail

In [28]:
print(monty, grail)
# Monty Python Holy Grail

Monty Python Holy Grail

In [29]:
print(monty, "and the", grail)
# Monty Python and the Holy Grail

Monty Python and the Holy Grail

In [30]:
monty[0]
# 'M'

'M'

In [31]:
monty[3]
# 't'

't'

In [32]:
monty[5]
# ' '

' '

In [33]:
monty[20]
# Traceback (most recent call last):
#   File "<stdin>", line 1, in ?
# IndexError: string index out of range

IndexError: string index out of range

In [34]:
monty[-1]
# 'n'

'n'

In [35]:
monty[5]
# ' '

' '

In [36]:
monty[-7]
# ' '

' '

In [37]:
sent = 'colorless green ideas sleep furiously'

In [38]:
for char in sent:
    print(char, end=' ')
# c o l o r l e s s   g r e e n   i d e a s   s l e e p   f u r i o u s l y

c o l o r l e s s   g r e e n   i d e a s   s l e e p   f u r i o u s l y

In [39]:
from nltk.corpus import gutenberg

In [40]:
raw = gutenberg.raw('melville-moby_dick.txt')

In [41]:
fdist = nltk.FreqDist(ch.lower() for ch in raw if ch.isalpha())

In [42]:
fdist.most_common(5)
# [('e', 117092), ('t', 87996), ('a', 77916), ('o', 69326), ('n', 65617)]

[('e', 117092), ('t', 87996), ('a', 77916), ('o', 69326), ('n', 65617)]

In [43]:
[char for (char, count) in fdist.most_common()]
# ['e', 't', 'a', 'o', 'n', 'i', 's', 'h', 'r', 'l', 'd', 'u', 'm', 'c', 'w',
# 'f', 'g', 'p', 'b', 'y', 'v', 'k', 'q', 'j', 'x', 'z']

['e',
 't',
 'a',
 'o',
 'n',
 'i',
 's',
 'h',
 'r',
 'l',
 'd',
 'u',
 'm',
 'c',
 'w',
 'f',
 'g',
 'p',
 'b',
 'y',
 'v',
 'k',
 'q',
 'j',
 'x',
 'z']

In [44]:
monty[6:10]
# 'Pyth'

'Pyth'

In [45]:
monty[-12:-7]
# 'Monty'

'Monty'

In [46]:
monty[:5]
# 'Monty'

'Monty'

In [47]:
monty[6:]
# 'Python'

'Python'

In [48]:
phrase = 'And now for something completely different'

In [49]:
if 'thing' in phrase:
    print('found "thing"')
# found "thing"

found "thing"

In [50]:
monty.find('Python')
# 6

6

In [51]:
query = 'Who knows?'

In [52]:
beatles = ['John', 'Paul', 'George', 'Ringo']

In [53]:
query[2]
# 'o'

'o'

In [54]:
beatles[2]
# 'George'

'George'

In [55]:
query[:2]
# 'Wh'

'Wh'

In [56]:
beatles[:2]
# ['John', 'Paul']

['John', 'Paul']

In [57]:
query + " I don't"
# "Who knows? I don't"

"Who knows? I don't"

In [58]:
beatles + 'Brian'
# Traceback (most recent call last):
#   File "<stdin>", line 1, in <module>
# TypeError: can only concatenate list (not "str") to list

TypeError: can only concatenate list (not "str") to list

In [59]:
beatles + ['Brian']
# ['John', 'Paul', 'George', 'Ringo', 'Brian']

['John', 'Paul', 'George', 'Ringo', 'Brian']

In [60]:
beatles[0] = "John Lennon"

In [61]:
del beatles[-1]

In [62]:
beatles
# ['John Lennon', 'Paul', 'George']

['John Lennon', 'Paul', 'George']

In [63]:
query[0] = 'F'
# Traceback (most recent call last):
#   File "<stdin>", line 1, in ?
# TypeError: object does not support item assignment

TypeError: 'str' object does not support item assignment